.card {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(28, 121, 28);
    padding: 50px;
    background-color: rgba(53, 207, 104, 0.295);
}

.portrait {
    border: none;
    top: 0px;
    right: 0px;
}

h1 {
    text-align: left;
    font-size: larger;
    color: white;
    left: auto;
}